* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg,
            #EED4B5 17%,
            #A88AD9 34%,
            #6C4DBF 48%,
            #1F2337 76%);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Cabin", sans-serif;
}



.navbar {
    width: 100%;
    padding: 25px 0;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.logo img {
    width: 22px;
    height: 22px;
}

.logo p {
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.nav-list {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    position: relative;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
    padding-bottom: 3px;
}


.nav-list a:hover {
    color: #000;
}


.nav-list li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s ease;
}


.nav-list li a:hover::after {
    width: 100%;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-1 {
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 25px;
    font-size: 15px;
    transition: 0.3s ease;
}

.btn-1 {
    color: #ffffff;
}

.btn-1:hover {
    color: #000;
}

.btn-2 {
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 25px;
    font-size: 15px;
    background: black;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    transition: 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.btn-2:hover {
    box-shadow: 0 0 15px 3px white;
    border-color: white;
}


.btn-2:hover {
    opacity: 0.8;
}

.hero {
    margin-top: 5%;
    margin-bottom: 7%;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
}

.hero .hero-first h1 {
    font-family: "Cabin", sans-serif;
    font-size: 55px;
    font-weight: 200;
    line-height: 1;
}

.hero .hero-first h1 span {
    color: #fff;
}

.her-btn {
    margin-top: 32px;
}

.her-btn a {
    padding: 10px 22px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    transition: color 0.3s ease;
}


.her-btn a::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.1) 100%);
    transform: rotate(45deg);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.her-btn a:hover::before {
    opacity: 1;
    animation: shine 1s linear infinite;
}


@keyframes shine {
    0% {
        transform: translateX(-100%) rotate(45deg);
    }

    100% {
        transform: translateX(100%) rotate(45deg);
    }
}

.Hero-second {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.center-content {
    position: absolute;
    text-align: center;
    color: white;
}

.center-content h1 {
    font-size: 48px;
    margin: 0;
    font-weight: 600;
}

.center-content p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
}


.orbit {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: conic-gradient(rgba(255, 255, 255, 0.44) 0deg,
            rgba(255, 255, 255, 0.10) 40deg,
            rgba(255, 255, 255, 0.44) 90deg,
            rgba(255, 255, 255, 0.20) 180deg,
            rgba(255, 255, 255, 0.44) 230deg,
            rgba(255, 255, 255, 0.25) 360deg);
    -webkit-mask:
        radial-gradient(farthest-side, transparent calc(100% - 1px), black calc(100% - 0px));
    mask:
        radial-gradient(farthest-side, transparent calc(100% - 1px), black calc(100% - 0px));
}


.orbit1 {
    width: 500px;
    height: 500px;
}

.orbit2 {
    width: 400px;
    height: 400px;
}

.orbit3 {
    width: 300px;
    height: 300px;
}

.orbit4 {
    width: 200px;
    height: 200px;
}



.orb-img {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(255, 100, 255, 0.3);
}


.img1 {
    top: -74px;
    left: 203px;
}

.img2 {
    top: 110px;
    right: -20px;
}

.img3 {
    bottom: 87px;
    right: 121px;
}

.img4 {
    bottom: -79px;
    left: 181px;
}

.img5 {
    bottom: 80px;
    left: -20px;
}

.img6 {
    top: 85px;
    left: -65px;
}

.img7 {
    top: 31px;
    right: 227px;
}

.img8 {
    right: -39px;
    bottom: 30px;
}


.comp-logo .logo-row {
    display: flex;
    justify-content: space-between;
}

.comp-logo .logo-row img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    opacity: 0.8;
    transition: 0.3s ease;
}


.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8 {
    animation: none !important;
}

.orb-img {
    animation:
        floatUpDown 4s ease-in-out infinite,
        glowPulse 3s ease-in-out infinite;
}

.img1 {
    animation:
        floatUpDown 4s ease-in-out infinite,
        strongGlow 2.5s ease-in-out infinite;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-14px);
    }

    100% {
        transform: translateY(0px);
    }
}


@keyframes glowPulse {
    0% {
        filter: drop-shadow(0 0 6px rgba(255, 0, 255, 0.4));
    }

    50% {
        filter: drop-shadow(0 0 14px rgba(255, 0, 255, 0.8));
    }

    100% {
        filter: drop-shadow(0 0 6px rgba(255, 0, 255, 0.4));
    }
}


@keyframes strongGlow {
    0% {
        filter: drop-shadow(0 0 12px rgba(255, 0, 255, 0.7));
    }

    50% {
        filter: drop-shadow(0 0 26px rgba(255, 0, 255, 1));
    }

    100% {
        filter: drop-shadow(0 0 12px rgba(255, 0, 255, 0.7));
    }
}



@media (max-width: 1024px) {
    .cursor-tag{
        display: none;
    }
    .container {
        width: 90%;
    }

    .hero {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 86px;
    }

    .hero-first h1 {
        font-size: 45px;
        line-height: 1.1;
    }

    .Hero-second {
        width: 330px;
        height: 330px;
    }

    .orbit1 {
        width: 420px;
        height: 420px;
    }

    .orbit2 {
        width: 330px;
        height: 330px;
    }

    .orbit3 {
        width: 240px;
        height: 240px;
    }

    .orbit4 {
        width: 150px;
        height: 150px;
    }


    .img1 {
        top: -60px;
        left: 150px;
    }

    .img2 {
        right: -10px;
        top: 100px;
    }

    .img3 {
        right: 80px;
        bottom: 60px;
    }

    .img4 {
        bottom: -60px;
        left: 140px;
    }

    .img5 {
        left: -10px;
        bottom: 70px;
    }

    .img6 {
        left: -45px;
        top: 70px;
    }

    .img7 {
        right: 160px;
        top: 25px;
    }

    .img8 {
        right: -25px;
        bottom: 25px;
    }

    .comp-logo .logo-row img {
        width: 150px;
        height: 80px;
    }
}


@media (max-width: 768px) {

    .nav-left {
        gap: 15px;
    }

    .nav-list {
        display: none;
    }

    .nav-right a {
        padding: 6px 14px;
        font-size: 14px;
    }

    .hero-first h1 {
        font-size: 36px;
    }

    .Hero-second {
        width: 270px;
        height: 270px;
    }

    .orbit1 {
        width: 340px;
        height: 340px;
    }

    .orbit2 {
        width: 270px;
        height: 270px;
    }

    .orbit3 {
        width: 200px;
        height: 200px;
    }

    .orbit4 {
        width: 130px;
        height: 130px;
    }


    .img1 {
        top: -50px;
        left: 105px;
    }

    .img2 {
        right: -8px;
        top: 80px;
    }

    .img3 {
        right: 50px;
        bottom: 50px;
    }

    .img4 {
        bottom: -50px;
        left: 100px;
    }

    .img5 {
        left: -5px;
        bottom: 50px;
    }

    .img6 {
        left: -35px;
        top: 55px;
    }

    .img7 {
        right: 120px;
        top: 20px;
    }

    .img8 {
        right: -20px;
        bottom: 18px;
    }

    .comp-logo .logo-row {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .comp-logo .logo-row img {
        width: 130px;
        height: 70px;
    }
}


@media (max-width: 480px) {

    .hero-first h1 {
        font-size: 30px;
    }

    .Hero-second {
        width: 230px;
        height: 230px;
    }

    .center-content h1 {
        font-size: 36px;
    }

    .orbit1 {
        width: 280px;
        height: 280px;
    }

    .orbit2 {
        width: 230px;
        height: 230px;
    }

    .orbit3 {
        width: 180px;
        height: 180px;
    }

    .orbit4 {
        width: 120px;
        height: 120px;
    }

    .orb-img {
        width: 45px;
        height: 45px;
    }


    .img1 {
        left: 85px;
        top: -40px;
    }

    .img2 {
        right: -6px;
        top: 65px;
    }

    .img3 {
        right: 40px;
        bottom: 40px;
    }

    .img4 {
        bottom: -40px;
        left: 80px;
    }

    .img5 {
        left: -5px;
        bottom: 40px;
    }

    .img6 {
        left: -30px;
        top: 45px;
    }

    .img7 {
        right: 100px;
        top: 18px;
    }

    .img8 {
        right: -18px;
        bottom: 15px;
    }

    .comp-logo .logo-row img {
        width: 110px;
        height: 65px;
    }

    .hero .hero-first h1 {
        font-size: 39px;
    }

    .btn-1 {
        color: #000000;
    }
}




.cursor-tag {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: flex;
    align-items: center;
    gap: 2px;
    transition: transform 0.1s ease-out;
}


.tag-box {
    background: #a275ff;
    color: white;
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 20px;
    font-family: italic sans-serif;
    font-weight: 800;
}